<div class="login_page flex-column">
  <header class="navbar">
    <div class="login-navbar flex">
      <%= link_to root_path, class: "back-btn" do %>
        <i class="fa fa-long-arrow-left"></i>
      <% end %>
      <h1 class="login-title">Register</h1>
      <span></span>
    </div>
  </header>

  <main class="login-main">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="login_form_data">
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <hr class="hr">
        <div class="field">
          <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: 'Full name', class: "input" %>
        </div>
        
        <hr class="hr">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "input" %>
        </div>
        
        <hr class="hr">
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password (6 characters minimum)', class: "input" %>
        </div>
      
        <hr class="hr">
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation', class: "input" %>
        </div>
        <hr class="hr">
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary-register" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </main>
</div>
